ion-content {
    // overwrite inline styles
    --offset-bottom: auto!important;
    background-color: white;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  

.añadir{
    float: right;
    margin-right: 10%;
}

