.button-center{
    text-align: center;
}

.form-margin{
    margin: 5%;
}

.div-top{
    border-color: rgb(233, 233, 233);
    border-left-style: groove;
    border-right-style: groove;
    border-top-style: groove;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 5px;
}

.div-medium{
    border-color: rgb(233, 233, 233);
    border-left-style: groove;
    border-right-style: groove;
    border-top-style: groove;
    padding-left: 5px;
}

.div-bottom{
    border-color: rgb(233, 233, 233);
    border-style: groove;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 5px;
    margin-bottom: 15px;
}



.ion-img{
    
    width: 75%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

