ion-content {
    // overwrite inline styles
    --offset-bottom: auto!important;
    background-color: white;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

.button-center{
    text-align: center;
}

.title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.form-margin{
    margin: 5%;
}

.div-top{
    padding-top: 10px;
    border-color: rgb(233, 233, 233);
    border-left-style: groove;
    border-right-style: groove;
    border-top-style: groove;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 5px;
}

.div-medium{
    padding-top: 10px;
    border-color: rgb(233, 233, 233);
    border-left-style: groove;
    border-right-style: groove;
    border-top-style: groove;
    padding-left: 5px;
}

.div-bottom{
    padding-top: 10px;
    border-color: rgb(233, 233, 233);
    border-style: groove;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 5px;
    margin-bottom: 15px;
}

.label{
    padding-top: 5px;
    padding-left: 5px;
}

.ion-img{
    
    width: 75%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

}

.atras{
    zoom: 1.5;
    float: left;
    margin-left: 2%;
}